{
  "timeStamp": 1686007599246,
  "version": "1.49.2",
  "userSettings": {
    "advancedUserEnabled": true,
    "cloudStorageEnabled": true,
    "ignoreGenericCosmeticFilters": true,
    "importedLists": [],
    "popupPanelSections": 31,
    "suspendUntilListsAreLoaded": false
  },
  "selectedFilterLists": [
    "user-filters",
    "ublock-filters",
    "ublock-badware",
    "ublock-privacy",
    "ublock-quick-fixes",
    "ublock-abuse",
    "ublock-unbreak",
    "adguard-generic",
    "adguard-mobile",
    "easylist",
    "adguard-spyware",
    "adguard-spyware-url",
    "block-lan",
    "easyprivacy",
    "urlhaus-1",
    "curben-phishing",
    "curben-pup",
    "adguard-annoyance",
    "adguard-social",
    "fanboy-cookiemonster",
    "fanboy-social",
    "fanboy-annoyance",
    "fanboy-thirdparty_social",
    "ublock-annoyances",
    "dpollock-0",
    "plowe-0",
    "ALB-0",
    "ara-0",
    "BGR-0",
    "CHN-0",
    "CZE-0",
    "DEU-0",
    "EST-0",
    "FIN-0",
    "FRA-0",
    "GRC-0",
    "HRV-0",
    "HUN-0",
    "IDN-0",
    "IND-0",
    "IRN-0",
    "ISL-0",
    "ISR-0",
    "ITA-0",
    "JPN-1",
    "KOR-1",
    "LTU-0",
    "LVA-0",
    "NLD-0",
    "NOR-0",
    "POL-0",
    "POL-2",
    "ROU-1",
    "RUS-0",
    "spa-1",
    "spa-0",
    "SVN-0",
    "SWE-1",
    "THA-0",
    "TUR-0",
    "VIE-1"
  ],
  "hiddenSettings": {},
  "whitelist": [
    "about-scheme",
    "account.aq.com",
    "accounts.klei.com",
    "app.scope.gg",
    "chrome-extension-scheme",
    "chrome-scheme",
    "discord.com",
    "edge-scheme",
    "hackernewsletter.com",
    "huggingface.co",
    "moz-extension-scheme",
    "opera-scheme",
    "rateyourmusic.com",
    "store.steampowered.com",
    "thepressproject.us19.list-manage.com",
    "vivaldi-scheme",
    "www.e-food.gr",
    "www.faceit.com",
    "www.good.is",
    "www.themarginalian.org",
    "wyciwyg-scheme"
  ],
  "dynamicFilteringString": "behind-the-scene * * noop\nbehind-the-scene * inline-script noop\nbehind-the-scene * 1p-script noop\nbehind-the-scene * 3p-script noop\nbehind-the-scene * 3p-frame noop\nbehind-the-scene * image noop\nbehind-the-scene * 3p noop\npracc.com pracc.com * noop",
  "urlFilteringString": "",
  "hostnameSwitchesString": "no-large-media: behind-the-scene false\nno-csp-reports: * true",
  "userFilters": ""
}
