#TabsToolbar {
    visibility: collapse;
}

#sidebar-box {
    max-width: 306px !important;
    min-width: 306px !important;
}

#sidebar-splitter {
    width: 0px !important;
}

#sidebar-header {
    visibility: collapse !important;
}

@media (min-width:900px) and (max-width: 1300px) {
    #sidebar-box {
        max-width: 100px !important;
        min-width: 100px !important;
    }
}

@media (max-width: 900px) {
    #sidebar-box {
        max-width: 32px !important;
        min-width: 32px !important;
    }

    #firefox-view-button {
        display: none !important;
    }

    #TabsToolbar {
        visibility: visible;
    }

    #TabsToolbar .tabbrowser-tab[pinned] {
        display: none !important;
    }

    #TabsToolbar #new-tab-button {
        display: none !important;
    }

    #TabsToolbar #alltabs-button {
        display: none !important;
    }

    #TabsToolbar .tabbrowser-tab .tab-close-button {
        visibility: collapse !important;
    }

    #TabsToolbar #tabbrowser-tabs {
        --tab-overflow-pinned-tabs-width: 0px !important;
    }
}
