
[submodule ".csgorc"]
	path = games/cs2
	url = git@github.com:gerelef/csgorc.git
	branch = master
[submodule ".insurc"]
	path = games/insurgency
	url = git@github.com:gerelef/insurc.git
    branch = master
[submodule ".chess"]
	path = games/chess
	url = git@github.com:gerelef/chess-preparation.git
    branch = master
