// this defines the layout for a basic tree/file explorer workflow

layout {
    pane split_direction="vertical" {
        pane size="20%" command="hxs" focus=true borderless=true
        pane size="80%" command="hx"
    }
	pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
