set linenumbers
set nohelp
set autoindent
set atblanks
set tabsize 4
set smarthome
set zap
set afterends
set wordchars "_"


set titlecolor normal,normal
set numbercolor normal,normal
set tabstospaces
