[alias]
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    le = log --oneline --decorate
    dl = "!git ll -1"
    find = "!git ls-files | grep -i"
    st = status -sb
    stv = "!git status -v | less -R"
    stvp = "!git status -v | grep -i ^+ | less -R"
    stvm = "!git status -v | grep -i ^- | less -R"
    cl = clone
    cm = commit -m
    ck = checkout
    br = branch
    df = "!git --no-pager diff"
    alias = "!git config -l | grep alias | cut -c 7-"
    acp = "!acp () { [[ $# -gt 0 ]] && git add . && git commit -m "\"$@\"" && git push; }; acp"
