/* Option 2 */
#TabsToolbar {
    visibility: collapse;
}

#navigator-toolbox:hover #TabsToolbar {
    visibility: collapse;
}

#sidebar-box {
    width: auto !important;
}

#sidebar-splitter {
    width: 1px !important;
}

#sidebar-header {
    visibility: collapse !important;
}
