/* Option 2 */
#TabsToolbar {
    visibility: collapse;
}

#sidebar-box {
    max-width: none !important;
    min-width: 252 !important;
}

#sidebar-splitter {
    width: 1px !important;
}

#sidebar-header {
    visibility: collapse !important;
}

/* TST Styling */
@media (max-width: 1000px) {
    #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
        visibility: collapse;
    }
    
    #TabsToolbar {
        visibility: visible;
    }
}
