#TabsToolbar {
    visibility: collapse;
}

#sidebar-box {
    max-width: 306px !important;
    min-width: 306px !important;
}

#sidebar-splitter {
    width: 0px !important;
}

#sidebar-header {
    visibility: collapse !important;
}

@media (max-width: 900px) {
    #sidebar-box {
        max-width: 102px !important;
        min-width: 102px !important;
    }
}

@media (max-width: 700px) {
    #sidebar-box {
        visibility: collapse;
    }
    
    #TabsToolbar {
        visibility: visible;
    }
}
