[alias]
    ls = log --pretty=format:"\\ %C(yellow)%h\\ %C(reset)%C(yellow)%ad%C(auto)%d\\ %s\\ %C(blue)[%cn]" --decorate --date=short
    st = status -sb
    stv = diff --staged
    bl = blame -w -C -C -C -L
    list-changed = diff-tree --no-commit-id --name-status -r
    restore-untracked = clean -d -f
    nuke = "!__git_nuke () ( git restore --staged $1; git restore $1; git clean -d -f $1 ); __git_nuke"
    alias = "!git config -l | grep alias | cut -c 7-"
[rerere]
    enabled = true  # REuse REcorded REsolution
[core]
    protectHFS = true
    protectNTFS = true
[branch]
    sort = -committerdate  # sort branches by most recent commits in git branch
[include]  # import error will automatically be supressed if the file doesn't exist
    path = ~/.gitconfig-gitdelta
[includeIf "hasconfig:remote.*.url:git@github.com*/**"]
    path = ~/.gitconfig-github
[includeIf "hasconfig:remote.*.url:git@gitlab.com*/**"]
    path = ~/.gitconfig-gitlab
[includeIf "hasconfig:remote.*.url:git@ssh.gitlab.gnome.org*/**"]
    path = ~/.gitconfig-gnome
