[init]
    defaultBranch = main
[rerere]
    enabled = true  # REuse REcorded REsolution
[core]
    protectHFS = true
    protectNTFS = true
[branch]
    sort = -committerdate  # sort branches by most recent commits in git branch
[include]  # import error will automatically be supressed if the file doesn't exist
    path = ~/.gitconfig-gitdelta
[includeIf "hasconfig:remote.*.url:git@github.com*/**"]
    path = ~/.gitconfig-github
[includeIf "hasconfig:remote.*.url:git@gitlab.com*/**"]
    path = ~/.gitconfig-gitlab
[includeIf "hasconfig:remote.*.url:git@ssh.gitlab.gnome.org*/**"]
    path = ~/.gitconfig-gnome
