[alias]
    ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    st = status -sb
    stv = diff --staged
    list-changed = diff-tree --no-commit-id --name-status -r
    bl = blame -w -C -C -C -L
    when = "!__git_when () ( git log -S $1 -p ); __git_when"
    alias = "!git config -l | grep alias | cut -c 7-"
[rerere]
    enabled = true  # REuse REcorded REsolution
[core]
    protectHFS = true
    protectNTFS = true
[branch]
    sort = -committerdate  # sort branches by most recent commits in git branch
[includeIf "hasconfig:remote.*.url:git@github.com*/**"]
    path = ~/.gitconfig-github
[includeIf "hasconfig:remote.*.url:git@gitlab.com*/**"]
    path = ~/.gitconfig-gitlab
[includeIf "hasconfig:remote.*.url:git@ssh.gitlab.gnome.org*/**"]
    path = ~/.gitconfig-gnome
# the following section is ripped straight from git-delta
[color]
    ui = auto
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
