[Unit]
Description=Ollama: Get up and running with large language models.
After=network.target

[Service]
Type=simple
StandardOutput=journal
ExecStart=ollama serve
Restart=on-failure

[Install]
WantedBy=default.target
